table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 14px;
}

thead tr {
  box-shadow: none;
}

tbody tr {
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
  border-radius: 12px;
}

tbody td {
  background-color: white;
  padding: 12px;
  vertical-align: middle;
  word-break: break-word;
}

tbody td:first-child {
  border-radius: 12px 0 0 12px;
}

tbody td:last-child {
  border-radius: 0 12px 12px 0;
}

th {
  padding: 12px;
  white-space: nowrap;
  text-align: center;
}

section {
  padding: 36px;
}

.title-wrapper {
  text-align: center;
  margin: 16px 0;
}

.descripcion {
  width: 25%;
}
